@media screen and (max-width: 800px) {
    header {
        flex-direction: column;
    }
    header h1 {
        padding: 10px
    }
    
    #about-me img {
        float: left;
        margin-top: -80px;
        position: static;
        width: 150px;
        border-radius: 20%;
        box-shadow: 0 10px 10px;
        margin-right: 10px;
        box-shadow: 0 10px 10px black;
    }
    #about-me p {
        position: inherit;
        font-size: 14px;
        color: var(--accent-color);
        line-height: 1.5;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: var(--primary-color);
        padding: 10px;
        margin-top: 150px;
        margin-right: 25px;
        margin-bottom: 50px
    }
    .gallery-cards {
        flex: 1 1 150px;
    }
    .tag h4 {
        font-size: 18px;
    }
    .tag p {
        font-size: 14px;
    }
}
@media screen and (max-width: 590px) {
    #about-me img {
        width: 120px;
        margin-top: -60px;
    }
    .gallery-cards {
        flex: 1 150px;
    }
    #gallery {
        max-width: 100%;
    }
    #jumbo-image {
        margin-bottom: 15px;
    }
    .work img {
        border: 2px solid var(--accent-color);
    }
}
@media screen and (max-width: 495px) {
    #hero {
        height: 125px;
    }
    #hero h2 {
        top: 50%;
    }
    article>h3 {
        position:relative;
        right: 115%;
        text-align: right;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 5vw;
        color: var(--letter-color);
    }
    .tag {
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .tag h4 {
        font-size: 8px;
        font-weight: lighter;
    }
    .tag p {
        font-size: 8px;
        font-weight: lighter;
        font-style: italic;
    }
    .links-font {
        font-size: 13px;
    }
    .gallery-cards {
        flex: 1 83px;
        margin-right: 5px;
    }
    .work {
        width: 97%
    }
    #gallery {
        justify-content: space-between;
        width: 100%;
    }
    #contact a {
        font-size: 10px;
    }
}