@media screen and (max-width: 1024px) {
    header {
        flex-direction: column;
    }
    header h1 {
        padding: 10px
    }
    #about-me img {
        width: 150px;
    }
}
@media screen and (max-width: 590px) {
    #about-me img {
        width: 120px;
    }
    #about-me p {
        font-size: 14px;
    }
    #jumbo-image {
        margin-bottom: 15px;
    }
    .work img {
        border: 2px solid var(--accent-color);
    }
    .links-font {
        font-size: 14px;
    }
    header nav ul li {
        margin-right: 2px;
    }
}
@media screen and (max-width: 428px) {
    #about-me img {
        margin-bottom: 2%;
    }
    #about-me p {
        font-size: 12px;
    }
    #hero {
        height: 125px;
    }
    #hero h2 {
        top: 50%;
    }
    .links-font {
        font-size: 12px;
    }
    article {
        border-left-width: 3px;
    }
}
@media screen and (max-width: 375px) {
    header h1 {
        font-size: 25px;
    }
    #hero h2 {
        font-size: 20px;
    }
    #about-me img {
        width: 80px;
    }
    #about-me p {
        font-size: 9;
    }
    .links-font {
        font-size: 9px;
        border-bottom-width: 2px;
    }
        header nav ul li {
            margin-right: 3px;
        }
    article {
        border-left-width: 2px;
    }
    .tag {
        border-width: 1px;
    }
    
}

@media screen and (max-width: 280px) {
    header h1 {
        font-size: 20px;
        
    }
    .links-font {
        font-size: 9px;
        padding: 0;
        margin: 0;
    }
    header nav ul li {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
        
    }
    #about-me img {
        width: 55px;
    }
    #about-me p {
        text-align: right;
        font-size: 9px;
    }
    .tag {
        padding-left: 0;
    }

}
/* @media screen and (max-width: ) */