:root {
    --accent-color: rgb(102, 110, 139);
    --primary-color: rgb(34, 42, 63);
    --second-letter-clr: rgb(5, 18, 49);
    --main-font: 'Nunito', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(221, 223, 233);
}
/* Styles for the Header */
header {
    position: sticky;
    top:0;
    z-index: 999;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
header h1 {
    font-weight: 600;
    color: var(--second-letter-clr);
    font-family: var(--main-font);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
    background-color: var(--accent-color);
    padding-left: 8%;
    padding-right: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
}
header nav ul li {
    list-style-type: none;
    font-family: var(--main-font);
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 17px;
    margin-left: 5px;
    margin-right: 15px;
}
header nav ul li:hover, header nav ul li:hover a {
    background-color: var(--accent-color);
    color: var(--second-letter-clr);
    font-weight: bold;
}

header nav ul li a:active {
    background-color: var(--letter-color);
}
.links-font {
    font-size: 20px;
    text-decoration: none;
    text-align: center;;
    padding: 0 3px 3px;
    border-bottom: 4px solid var(--accent-color);
    color: var(--accent-color);
    font-family: var(--main-font);
    font-weight: bold;
}
header nav ul li:not(:first-child) {
    margin-left: 25px;
}
/* Styles for the Hero */
#hero {
    background-image: url("../images/hero-pic2.jpeg");
    height: 200px;
    position: relative;
}
#hero h2 {
    font-size: 25px;
    position: absolute;
    font-family: var(--main-font);
    padding: 5px;
    top: 65%;
    right: 3%;
    background-color: var(--accent-color);
    color: var(--second-letter-clr);
}
/* Styles for the About Me */
article {
    padding-left: 2%;
    padding-right: 7%;
    border-left: 4px solid var(--second-letter-clr);
    margin-left: 25%;
    margin-top: 5%;
}
article>h3 {
    position:relative;
    right: 110%;
    text-align: right;
    font-family:var(--main-font);
    font-weight: 600;
    font-size: 4vw;
    color: var(--second-letter-clr);
}
#about-me {
    position: relative;

}
#about-me div {
    position: relative;
    margin-top: -150px;
    padding-bottom: 1%;
    padding-left: 4%;
}
#about-me img {
    float: left;
    width: 250px;
    margin-top: -15vw;
    border-radius: 20%;
    box-shadow: 0 10px 10px;
    margin-right: 1%;
    box-shadow: 0 10px 10px black;
    margin-bottom: 1%;
}
#about-me p {
    border: 2px solid var(--second-letter-clr);
    position: inherit;
    font-size: 22px;
    text-align: right;
    color: var(--second-letter-clr);
    line-height: 1.5;
    font-family: var(--main-font);
    font-weight: bolder;
    padding: 2%;
    margin-top: 150px;
    margin-right: 2vw;
    margin-bottom: 50px
}

/* Styles for the Work Section */
.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    padding-left: 4%;
}
.work img {
    border: 5px solid var(--primary-color);
    width: 100%;
    opacity: .7;
}
#jumbo-image:hover img {
    opacity: 1;
    box-shadow: 0 10px 20px var(--second-letter-clr);
}
#jumbo-image:hover {
    cursor: pointer;
}
#jumbo-image {
    margin-bottom: 30px;
    position: relative;
    max-width: 98%;
} 
#gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#gallery-column1 {
    flex: 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#gallery-column2{
    display: flex;
    flex: 1 50%;
    flex-direction: column;
    justify-content: center;
}
.gallery-cards {
    margin-bottom: 10px;
    position: relative;
    flex: 1 50%;
    margin-right: 20px;
}
.gallery-cards:hover img {
    opacity: 1;
    box-shadow: 0 10px 20px var(--second-letter-clr);
}

.gallery-cards:hover {
    cursor: pointer;
}
.tag {
    position: absolute;
    border: 2px solid var(--second-letter-clr);
    background-color: var(--accent-color);
    color: var(--second-letter-clr);
    bottom: 20%;
    width: auto;
    padding-right: 5%;
    padding-left: 2%;
}
.tag h4 {
    font-weight: 900;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1.7vw;
}
.tag p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1vw;
    font-weight: lighter;
    
}
#jumbo-image .tag h4 {
    font-size: 2.5vw;
    
}
#jumbo-image .tag p {
    font-size: 1.3vw;
}
/* Styles for Contact */

#contact {
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 25px;
    color: var(--second-letter-clr);
}
#contact a {
    font-size: 2vw;
}
#contact a:hover {
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}
.dark-letter {
    color: var(--second-letter-clr);
    border-bottom-color: var(--second-letter-clr);
    font-size: 2vh;
    margin-left: 10px;
    margin-bottom: 15px;
}
